@model HRM.Models.AddPANNumber
<div class="modal fade" id="_PartialUpPAN" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Add pan number</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdatePAN", "Consultant", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.id)
                    <div class="form-group">
                        @Html.Label("Pan Number")
                        @Html.EditorFor(m => m.PanNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PanNumber, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-success">Save</button>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jqueryui/jquery-ui.js"></script>




