@model IEnumerable<HRM.Models.tblRegistrationDetail>
@{
    Layout = "";
}
@if (Session["descript"] != null)
{
    <div class="card">
        @*<h3 class="col-10" style="color: black; font-weight: bold; color: Highlight">Registration Document Detail</h3>*@
        @if (ViewBag.Regi != null)
        {
            <div class="card-body">
                <h4 class="card-title" style="color: Highlight">Registration</h4>
                <table class="table table-sm">
                    <thead class="">
                        <tr style="color:black">
                            <th>
                                Document Name
                            </th>

                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="">
                        @foreach (var comp in ViewBag.Regi as IEnumerable<SelectListItem>)
                         {
                            <tr style="color:black">
                                <td>
                                    @Html.Label(comp.Text?.ToUpper())
                                </td>
                                <td>
                                    <a class="btn btn-success btn-sm" href="@Url.Content("~/Content/Uploads/" + comp.Value)" target="_blank"><i class="fa fa-hand-point-right">  View</i></a>
                                </td>
                            </tr>
                         }
                    </tbody>
                </table>
            </div>
        }
        else
        {

        }
    </div>
}
else
{
    Html.RenderAction("_SessionError1", "Home");
}




