@model HRM.Models.tblEmpLoginUser
@{
    Layout = null;
    Html.EnableClientValidation(true);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href=@Url.Content("~/Content/assets/images/logo1.png")>
    <title>EmpModule</title>
    <!-- Custom CSS -->
    <link href=@Url.Content("~/Content/dist/css/style.min.css") rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @using (Html.BeginForm("GenerateOTP", "NewEmployeeLogin",FormMethod.Post))
    {
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        @*<div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>*@
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
             style="background:url(/Content/assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box row">
                <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(/Content/assets/images/big/123.jpg);">
                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <div class="text-center">
                            <img src="~/Content/assets/images/logo123.jpg" alt="wrapkit">
                        </div>
                        @if (TempData["Error"] != null)
                        {
                            <p class="alert alert-danger" id="successMessage">@TempData["Error"]</p>
                        }
                        <h2 class="mt-3 text-center"></h2>
                        <p class="text-center">Generate OTP For Login Your Dashboard.</p>
                        <form class="mt-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        @*<label class="text-dark" for="uname">Username</label>*@
                                        @Html.LabelFor(m => m.vchmobile, new { @class = "text-dark" })
                                        @Html.TextBoxFor(m => m.vchmobile, new { @class = "form-control", @placeholder = "Mobile number", @type = "Text", @id = "txtmobile" })
                                        @Html.ValidationMessageFor(m => m.vchmobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">

                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">

                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-block btn-dark">Generate OTP</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
    </div>
    }
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="~/Content/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Content/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>$(".preloader ").fadeOut();</script>
</body>
</html>
